<footer class="footer" id="contacts">

  <div class="container">

    <div class="footer__top">
      <h1 class="section__title">Контакты</h1>
    </div>

    <div class="footer__center">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3291.3564968632277!2d30.49928870317495!3d50.442672690012145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1463425589747" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      <!--<img src="img/map.jpg" alt="map"/>-->
    </div>

    <div class="footer__bottom">

      <div class="footer__left">
        <a href="mailto:info@s-e-club.com">info@s-e-club.com</a>
        <p>(093) 497 8082 (Анна)</p>
      </div>

      <div class="footer__right">

        <div class="social">

          <ul class="social__list">

            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico ico_tw"></i>
              </a>
            </li>

            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico ico_fb"></i>
              </a>
            </li>

            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico ico_vk"></i>
              </a>
            </li>

          </ul>

        </div><!-- end social -->

      </div><!-- end footer__left -->

    </div><!-- end footer__bottom -->

  </div><!-- end container -->

</footer><!-- end footer -->