<section class="section section_schedule" id="schedule">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Расписание</h1>
      <p class="section__descr">Выбери дату и поток</p>

      <div class="data-choice">

        <ul class="data-choice__list">

          <li class="data-choice__el is-active">
            3.07 (Skill)
          </li>

          <li class="data-choice__el">
            4.07 (Core)
          </li>

          <li class="data-choice__el">
            5.07 (Web)
          </li>

        </ul>

      </div><!-- end data-choice -->

    </div><!-- end section-__top -->

    <div class="section__bottom">

      <div class="schedule">

        <div class="col">

          <h5>Basic</h5>

          <div class="vertical-list">

            <ul class="vertical-list__item">

              <li class="vertical-list__el">
                <span class="time pink">11:00-11:40</span>
                <p>
                  Як керувати проектом, коли навколо невизначеність і хаос?
                </p>
                <p>
                  Хтось планує кожен крок, хтось п
                  ише інструкції на найгірші випадки, а найрозумніші просто
                  множать час і бюджет проекту на два. Проте є кращий підхід!
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">11:40-11:50</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">11:50-12:30</span>
                <p>Нетворкінг, акселератори, тімбілдінг. Що потрібно стартапу?</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">12:30-12:40</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">12:40-13:20</span>
                <p>Найважливіше про просування продукту.</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">13:20-13:30</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">13:30-14:10</span>
                <p>Startup: real business — or bullshit?</p>
                <p>
                  Інвестор із Кремнієвої долини розповість про запуск –
                  фідбек – ітерації – продажі – двигуни зростання – масштабування.
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">14:10-14:30</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">14:30-16:00</span>
                <p>Panel Discussion</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">16:00-16:10</span>
                <p>Sexy Twitter</p>
                <p>
                  Чому Twitter, а не Facebook? Твiт чи не твiт або про що
                  писати? Твiттер-трансляцiя пiд час івентiв та кампаній.
                  Списки, хештеги та iншi боти.
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">16:50-17:00</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">17:00-17:40</span>
                <p>Personal Development Plan</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">17:40-17:50</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">17:50-18:50</span>
                <p>T stand-up</p>
                <p>Лампові розмови від досвідчених розробників з почуттям гумору.</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">18:50-19:00</span>
                <p>Finish</p>
              </li>

            </ul>

          </div><!-- end vertical-list -->

        </div><!-- end col -->

        <div class="col">

          <h5>Advanced</h5>

          <div class="vertical-list">

            <ul class="vertical-list__item">

              <li class="vertical-list__el">
                <span class="time pink">11:00-11:40</span>
                <p>
                  Як керувати проектом, коли навколо невизначеність і хаос?
                </p>
                <p>
                  Хтось планує кожен крок, хтось п
                  ише інструкції на найгірші випадки, а найрозумніші просто
                  множать час і бюджет проекту на два. Проте є кращий підхід!
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">11:40-11:50</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">11:50-12:30</span>
                <p>Нетворкінг, акселератори, тімбілдінг. Що потрібно стартапу?</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">12:30-12:40</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">12:40-13:20</span>
                <p>Найважливіше про просування продукту.</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">13:20-13:30</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">13:30-14:10</span>
                <p>Startup: real business — or bullshit?</p>
                <p>
                  Інвестор із Кремнієвої долини розповість про запуск –
                  фідбек – ітерації – продажі – двигуни зростання – масштабування.
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">14:10-14:30</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">14:30-16:00</span>
                <p>Panel Discussion</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">16:00-16:10</span>
                <p>Sexy Twitter</p>
                <p>
                  Чому Twitter, а не Facebook? Твiт чи не твiт або про що
                  писати? Твiттер-трансляцiя пiд час івентiв та кампаній.
                  Списки, хештеги та iншi боти.
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">16:50-17:00</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">17:00-17:40</span>
                <p>Personal Development Plan</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">17:40-17:50</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">17:50-18:50</span>
                <p>T stand-up</p>
                <p>Лампові розмови від досвідчених розробників з почуттям гумору.</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">18:50-19:00</span>
                <p>Finish</p>
              </li>

            </ul>

          </div><!-- end vertical-list -->

        </div><!-- end col -->

        <div class="col">

          <h5>Startup</h5>

          <div class="vertical-list">

            <ul class="vertical-list__item">

              <li class="vertical-list__el">
                <span class="time pink">11:00-11:40</span>
                <p>
                  Як керувати проектом, коли навколо невизначеність і хаос?
                </p>
                <p>
                  Хтось планує кожен крок, хтось п
                  ише інструкції на найгірші випадки, а найрозумніші просто
                  множать час і бюджет проекту на два. Проте є кращий підхід!
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">11:40-11:50</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">11:50-12:30</span>
                <p>Нетворкінг, акселератори, тімбілдінг. Що потрібно стартапу?</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">12:30-12:40</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">12:40-13:20</span>
                <p>Найважливіше про просування продукту.</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">13:20-13:30</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">13:30-14:10</span>
                <p>Startup: real business — or bullshit?</p>
                <p>
                  Інвестор із Кремнієвої долини розповість про запуск –
                  фідбек – ітерації – продажі – двигуни зростання – масштабування.
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">14:10-14:30</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">14:30-16:00</span>
                <p>Panel Discussion</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">16:00-16:10</span>
                <p>Sexy Twitter</p>
                <p>
                  Чому Twitter, а не Facebook? Твiт чи не твiт або про що
                  писати? Твiттер-трансляцiя пiд час івентiв та кампаній.
                  Списки, хештеги та iншi боти.
                </p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">16:50-17:00</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time green">17:00-17:40</span>
                <p>Personal Development Plan</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">17:40-17:50</span>
                <p>Break</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">17:50-18:50</span>
                <p>T stand-up</p>
                <p>Лампові розмови від досвідчених розробників з почуттям гумору.</p>
              </li>

              <li class="vertical-list__el">
                <span class="time pink">18:50-19:00</span>
                <p>Finish</p>
              </li>

            </ul>

          </div><!-- end vertical-list -->

        </div><!-- end col -->

      </div><!-- end schedule -->

      <div class="sale">

        <div class="sale__top">
          <p>Скидка 40%</p>
          <p>При покупке билетов</p>
        </div>

        <div class="sale__center">
          <p>Просто сделай покупку до 15 июня</p>
          <p>и получи скидку 40% на все дни</p>
        </div>

        <div class="sale__bottom">
          <span class="btn btn_big btn_white">
            хочу сэкономить
          </span>
        </div>

      </div><!-- end sale -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</section><!-- end section_schedule -->