<div class="section section-partners" id="partners">

  <div class="container">

    <div class="section__top">
      <h1 class="section__title">Партнеры</h1>
    </div>

    <div class="section__bottom">

      <div class="row">

        <div class="partner">
          <div class="circle"></div>
          <p>Платиновый спонсор</p>
        </div>

        <div class="partner">
          <div class="circle"></div>
          <p>Золотой спонсор</p>
        </div>

        <div class="partner">
          <div class="circle"></div>
          <p>Серебрянный спонсор</p>
        </div>

      </div><!-- end row -->

      <div class="row">

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

        <div class="partner">
          <div class="circle"></div>
        </div>

      </div><!-- end row -->

    </div><!-- end section__bottom -->

  </div><!-- end container -->

</div><!-- end section-partners -->