<div class="section section-speakers" id="speakers">

  <div class="section__top">
    <h1 class="section__title">Докладчики</h1>
    <p class="section__descr">Лучшие эксперты для вас</p>
  </div>

  <div class="section__bottom">

    <div class="horizontal-list">

      <ul class="horizontal-list__item">

        <li class="horizontal-list__el">
          <div class="item item_1">
            <div class="item__top"></div>
            <div class="item__bottom">

              <p>
                Стас Гаврилов
              </p>

              <p class="item__descr">
                front-end developer
              </p>

              <div class="social social_small">

                <ul class="social__list">

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_tw-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_fb-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_vk-small"></i>
                    </a>
                  </li>

                </ul>

              </div><!-- end social -->
            </div><!-- end item__bottom -->
          </div><!-- end item -->
        </li>

        <li class="horizontal-list__el">
          <div class="item item_2">
            <div class="item__top"></div>
            <div class="item__bottom">

              <p>
                Маша Прохорова
              </p>

              <p class="item__descr">
                project manager
              </p>

              <div class="social social_small">

                <ul class="social__list">

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_tw-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_fb-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_vk-small"></i>
                    </a>
                  </li>

                </ul>

              </div><!-- end social -->
            </div><!-- end item__bottom -->
          </div><!-- end item -->
        </li>

        <li class="horizontal-list__el">
          <div class="item item_3">
            <div class="item__top"></div>
            <div class="item__bottom">

              <p>
                Женя Иванов
              </p>

              <p class="item__descr">
                python developer
              </p>

              <div class="social social_small">

                <ul class="social__list">

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_tw-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_fb-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_vk-small"></i>
                    </a>
                  </li>

                </ul>

              </div><!-- end social -->
            </div><!-- end item__bottom -->
          </div><!-- end item -->
        </li>

        <li class="horizontal-list__el">
          <div class="item item_4">
            <div class="item__top"></div>
            <div class="item__bottom">

              <p>
                Саша Шалахин
              </p>

              <p class="item__descr">
                back-end developer
              </p>

              <div class="social social_small">

                <ul class="social__list">

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_tw-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_fb-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_vk-small"></i>
                    </a>
                  </li>

                </ul>

              </div><!-- end social -->
            </div><!-- end item__bottom -->
          </div><!-- end item -->
        </li>

        <li class="horizontal-list__el">
          <div class="item item_5">
            <div class="item__top"></div>
            <div class="item__bottom">

              <p>
                Катя Смирнова
              </p>

              <p class="item__descr">
                web-designer
              </p>

              <div class="social social_small">

                <ul class="social__list">

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_tw-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_fb-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_vk-small"></i>
                    </a>
                  </li>

                </ul>

              </div><!-- end social -->
            </div><!-- end item__bottom -->
          </div><!-- end item -->
        </li>

        <li class="horizontal-list__el">
          <div class="item item_6">
            <div class="item__top"></div>
            <div class="item__bottom">

              <p>
                Мария Крючок
              </p>

              <p class="item__descr">
                SEO
              </p>

              <div class="social social_small">

                <ul class="social__list">

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_tw-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_fb-small"></i>
                    </a>
                  </li>

                  <li class="social__el">
                    <a href="#" class="social__link">
                      <i class="ico ico_vk-small"></i>
                    </a>
                  </li>

                </ul>
              </div><!-- end social -->
            </div><!-- end item__bottom -->
          </div><!-- end item -->
        </li>
      </ul>
    </div><!-- end horizontal-list -->
  </div><!-- end section__bottom -->
</div><!-- end section -->